[Desktop Entry]
Name=Hochstrasser
Comment=Neue Wege im Sprachunterricht
Exec=/usr/share/bin/hochstrasser.sh
Terminal=false
Type=Application
Icon=Hochstrasser.png
Categories=Application;Education;
